.title-bg {
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(90deg, #f43939 0%, #8b0000 100%);
}
.title-bg2 {
  border-radius: 6px 6px 0px 0px;
  background: linear-gradient(90deg, #f43939 0%, #8b0000 100%);
}
